{% extends 'base.html.twig' %}

{% block title %}Accepter une demande d'ami{% endblock %}

{% block body %}
<div class="bg-secondary rounded m-auto col-10 p-5 text-center">
    <h1 class="mb-5 text-uppercase">user vous a envoyé une demande d'ami :</h1>

		{{ form_start(choiceFriendForm) }}
		{{ form_row(choiceFriendForm) }}
			<div class="mt-5">
				<button type="submit">Envoyer</button>
			</div>
		{{ form_end(choiceFriendForm) }}
{% endblock %}

