{% extends 'base.html.twig' %}

{% block title %}Accueil - Ligne bleue{% endblock %}

{% block body %}
    <div class="white-stripe">
        <img src="{{ asset('build/images/logo.png') }}"
             alt="">
    </div>
    <div class="pink-stripe">
        <h1>
            Bienvenue sur {{ website }} !
        </h1>
    </div>
    <div>{{ slogan }}</div>
    <div>Prêt à te former 
au numérique ?<br>Enregistre toi !</div>
<div>
<button type="button" class="btn btn-secondary">Connexion</button>
<button type="button" class="btn btn-secondary">Inscription</button>
<button type="button" class="btn btn-secondary">Je veux tester sans m'enregistrer</button>
</div>
<div>{{ presentation }}</div>

{% endblock %}
