{% extends 'base.html.twig' %}

{% block title %}Accueil - Ligne bleue
{% endblock %}

{% block body %}
	<div class="white-stripe text-center mt-3">
		<img src="{{ asset('build/images/logo.png') }}" alt="">
	</div>
	<div class="pink-stripe">
		<h1 class="text-center mb-5 mt-3">
			Bienvenue sur
			{{ website }}
			!
		</h1>
	</div>
	<div class="bg-secondary p-4 mb-5 text-center">{{ slogan }}</div>
	<div class="container">
		<div class="row row-cols-lg-3 row-cols-md-2 row-cols-1">
			<div class="col m-auto fw-bold text-center h4">Prêt à te former 
				au numérique ?<br>Enregistre toi !</div>
			<div class="col m-auto text-center">
				<button type="button" class="btn btn-secondary m-auto mb-3 btn-lg w-75">CONNEXION</button>
				<button type="button" class="btn btn-secondary m-auto mb-3 btn-lg w-75">INSCRIPTION</button>
				<button type="button" class="btn btn-success m-auto mb-3 btn-lg w-75">JE VEUX TESTER SANS M'ENREGISTRER</button>
			</div>
			<div class="col m-auto d-none d-lg-block">{{ presentation }}</div>
		</div>
	</div>

{% endblock %}
