{% extends '/admin/base.html.twig' %}

{% block title %}Nouvelle catégorie - Ligne bleue
{% endblock %}

{% block body %}
	<h1 class="mt-5 mb-5">Ajouter une nouvelle catégorie</h1>

	{{ include('/admin/admin_category/_form.html.twig') }}

	<a href="{{ path('app_admin_category_index') }}">Retour à la liste des catégories</a>
{% endblock %}
