{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center text-light mb-5">On se connaît déjà ?</h1>
		<div class="row">
			<div class="col-4 offset-4">
				<div class="card m-auto bg-secondary align-items-center">
					<div class="card-body w-75">
						<h4 class="card-title text-center m-3">Connexion</h4>
						<form>
							<div class="form-group mb-2">
								<label for="inputEmail">E-mail ou nom d'utilisateur</label>
								<input type="email" class="form-control bg-primary text-light mb-1 p-2 border-0" id="inputEmail" aria-describedby="emailHelp" placeholder="E-mail ou nom d'utilisateur">
							</div>
							<div class="form-group mb-2">
								<label for="inputPassword">Mot de passe</label>
								<div class="input-group">
									<input type="password" class="form-control bg-primary text-light mb-1 p-2 border-0" id="inputPassword" placeholder="Mot de passe">
									<span class="input-group-text bg-primary mb-1 p-2 border-0">
										<a href="#" class="toggle_hide_password">
											<i id="eyeIcon" class="fa-regular fa-eye-slash text-secondary" aria-hidden="true"></i>
										</a>
									</span>
								</div>
							</div>
							<div class="form-text text-end">
								<a class="text-muted text-decoration-none" href="#" id="emailHelp">Mot de passe oublié ?</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
<<<<<<< HEAD
</div>
<div class="text-center mt-3">
	<a href="#" class="btn btn-success rounded-pill ps-5 pe-5">Clique ici pour te connecter</a>
</div>{% endblock %}
=======
	<div class="text-center mt-3">
		<a href="{{ path('index_category') }}" type="submit" class="btn btn-success rounded-pill ps-5 pe-5">Clique ici pour te connecter</a>
	</div>
{% endblock %}
>>>>>>> 1fc40e88ea400d18e94ccf14345a1e50604dd86c
