{% block navbar %}
	<ul class="navbar fixed-bottom navbar-light bg-blue d-flex justify-content-around">
		<li class="nav-item list-unstyled d-flex align-items-center flex-column-reverse text-light">
			Accueil
			<a class="nav-link" href="/">
				<svg xmlns="http://www.w3.org/2000/svg" height="3em" viewbox="0 0 576 512">
					<style>
						svg {
							fill: #ffffff
						}
					</style><path d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/></svg>
			</a>
		</li>
		<li class="nav-item list-unstyled">
			<a class="nav-link d-flex align-items-center flex-column-reverse text-light" href="#">
				Retour
				<?xml version="1.0" encoding="UTF-8" standalone="no"?>

				<svg version="1.1" id="svg686" height="3rem" viewBox="0 0 512 512" sodipodi:docname="bouton-retour.png" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" onclick="rtn()>
										  <defs
										     id=" defs690">
					<filter style="color-interpolation-filters:sRGB" inkscape:label="Fade to Black or White" id="filter5692" x="0" y="0" width="1" height="1">
						<feColorMatrix values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0" id="feColorMatrix5690"/>
					</filter>
				</defs>
				<sodipodi:namedview id="namedview688" pagecolor="#ffffff" bordercolor="#000000" borderopacity="0.25" inkscape:showpageshadow="2" inkscape:pageopacity="0.0" inkscape:pagecheckerboard="0" inkscape:deskcolor="#d1d1d1" showgrid="false"/>
				<g inkscape:groupmode="layer" inkscape:label="Image" id="g692">
					<image width="512" height="512" preserveAspectRatio="none" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAgAAAAIACAMAAADDpiTIAAAAA3NCSVQICAjb4U/gAAAACXBIWXMA
												AA57AAAOewEd6h3MAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAwBQTFRF
												////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
												AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
												AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
												AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
												AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
												AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
												AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
												AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
												AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
												AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
												AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
												AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
												AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
												AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACyO34QAAAP90Uk5TAAECAwQFBgcICQoLDA0ODxAR
												EhMUFRYXGBkaGxwdHh8gISIjJCUmJygpKissLS4vMDEyMzQ1Njc4OTo7PD0+P0BBQkNERUZHSElK
												S0xNTk9QUVJTVFVWV1hZWltcXV5fYGFiY2RlZmdoaWprbG1ub3BxcnN0dXZ3eHl6e3x9fn+AgYKD
												hIWGh4iJiouMjY6PkJGSk5SVlpeYmZqbnJ2en6ChoqOkpaanqKmqq6ytrq+wsbKztLW2t7i5uru8
												vb6/wMHCw8TFxsfIycrLzM3Oz9DR0tPU1dbX2Nna29zd3t/g4eLj5OXm5+jp6uvs7e7v8PHy8/T1
												9vf4+fr7/P3+6wjZNQAAD7lJREFUGBntwXm813O+B/DX75xTnVIpSokWW/MZKg3GIBqyhLGTdegY
												RLaMPWXvusY2zGRf740wxqUhFAaZSCNkoohKWmRJ+3bO+b3mn/u49/HQOXWW7/v7/Xw+39fzCYiI
												iIiIiIiIiIiIiIiIiIiIiIiIpGazgy698Y77R155yj4tIHmz+31f8P+s/fuVDpIf5UOm8SeKL/4a
												khPHzGJN3t0ZkgPbv85arBteBond2StYu392gkSt41hu0KxtIBE75jtuxPwdIbFq/Rg3bkEHSJz6
												zmFdvFEKiVCzW6pZN/8JiU+vqayrYm9IZEouW8u6ewkSl65vsV76QmIycCnrZxwkHu2eZX1VdYTE
												4tCFrL8hkDhsch8bYhIkCnvMZINUNoWEr+yGKjZQT0jw3PtssJMggStcsIoNdzUkbFuNZ2OMgATt
												hMVslD9AAtZmNBvpdki49v+ajXUtJFTldxbZaCdDArXLp0zA7pAglQ5bxyS0gYRou4lMxGRIiM5a
												zmQMhYSnwwtMys8gwTnqWyZlKiQ0rR5hcs6FBGafWUzO8laQoDS9uZoJug8SlB4fMVG9IQEpXLKG
												iXoXEpAubzBhp0HCceoSJuyHckgoNn+GibsdEoqDFzBxxR0gYWhxDw28BgnD7p/RwrGQEJRdV0kL
												C8ogAfjZZNq4HhKA81bSRtXWEO91eoVWnod4b8APNNMf4rlNR9HOlwWI3/abS0OXQ7xWfkeRhta0
												g/is9zSaegLisZIr19LW3hB/bfsPGvsXxF9nLKe18yC+2mIMza1oDfHUEYto736In1o+xDT8AuKl
												Pl8yDZMgPmpyUzVTMRDioZ0+YDoWl0O8U7hoNVNyB8Q7nV9nWordIb455Uem5jWIZzZ7mik6DuKX
												g+YzRQvKID5pPrLINN0A8ckvZzBVVZ0h/ii9ppLpGgPxxw6TmLaDId4YvJJpm1UC8cSWLzF9V0A8
												cez3TN/a9hAvtP4vZmE0xAv7zmEm9oF4oNlt1czENIgHdv6YGflxRrT+9c64Zx65a8QVg397ZL9e
												zeGxksvXUmwV54y769z9t4KPuk2gpGT5+09c85tW8MrpyyipqnxnRL9yeKL9c5QMrP778L3KkL3D
												vqFkZfnYIR2QqU3up2SqauwJ5cjMnl9QMrfkgT7IRJMRVRQvfHHtNkjdz6dQvFGccFoZ0lS4cDXF
												K7PPaYbUbP0qxTvzhrRAOk5aTPHRoitawV7bJym+WnxtWxg7cB7FY8tuagVDze8qUvw2/wSY2fVT
												iv9e7Q4TpcPXUUKwdkRzJG/7dymhmH0YkjZoBSUgY7oiSR1epIRl5eUlSMzR31GCM649ktH6UUqI
												5vdFEvrOpoSpalgBjdX0lmpKsMa1R+P0nEoJ2fy+aISSS9dQwlZ1VQEN1fVNSvheaoWGGbiUEoP3
												26MBNn+WEonPu6He9lhIicaCXqinw1dRIvLjPqiXQVWUqKw+EvVwPSU2VWegzq6mRGgo6qj3OkqM
												rkGdNPmIEqdBqItrKZGqOgob13sdJVar98FGPUuJ1489sBFt1lAiNr8LNuwsStSmb44NeosSt0kt
												sAFdipTIvViC2p1Pid7VqN2tlOhV7YtajaLEb8EWqM1rlBwYX4JafELJg2GoxWJKHlT1Rc2WU3Jh
												fnvU6H1KPrxSQE1GUXJiKGoyjJITa7ujBsdS8mI8arAjJTcGYH2FmZS8+Lol1ncBJTduwfpaLaXk
												xbodsb4/UnLjTaxv22pKbpyC9d1LyY2FrbGe8g8ouXEH1rfdEkperO6I9R1DyY1bUYNbKXmxYnPU
												4JIqSk7ciJr0+46SD0s2RU26TKHkwzDUqPxPVZQ8+G4T1GyXSZQ8uBi1KAz6gRK/Bc1Qm3YPFSnR
												Oxe12/MjSuw+xQaUDllKidxu2JAtR1Pi9idsWL/plJh9W4YNa3LlSkrEDsfGdHmOEq+/YOMO/ZIS
												qzVtsHHl16+hRGoQ6mL7Vyhxeht1c9zXlChti7ppeWslJULXoK52eosSnymou1O/ocSmui3qrs3I
												akpkjkZ97PIeJS5/Rr2UDPqBEpNPUE/tHi5SItIR9bXXR8zeqgFHxeikS25/asKXRaboJNRb6ZCl
												zNxAxGvLwa9WMi0PogG2HM2sfVpAzNqe+jrTMQsN0m86M3Y0Itf/Y6aiGxqk6dCVzNR7iF3J6fOY
												gt+hgbo+z0z1Q/RajKS9h9Fgv5nFDL2KHDivitYmouHKb1jD7OyGHOi/lMa+R2PsMI6ZeRZ5sONs
												GtscjXLc18xItUMe7LCYtvZE47S8tZLZeBS5cEAVTVWgsXZ6i5lY1xm5cAFN3YTGO20Rs3An8uEB
												WnoWCWgzsprpW9kOudB0Jg1NQyJ2fY/puwH5cAINrSlBIkrO/oFpW9wSuVCYQkPbICHtHikyZZci
												Hw6iof5IzF5Tma75zZAPr9POmUhO6UXLmKqzkA+H087FSNKWTzJNM0uRC+UraOZaJGv/GUzRCciH
												Z2nmNiSs6dCVTM2HyIdTaeZ+JK7r80zNIciFtpW0MhoGDpvFlExAPkyklRdhofmNa5iOvZALj9PK
												W7Cxwzim4gXkwi208gGsDJjHFBR7Ig8uopWZMNPytkraewJ5cDytfANDPSbQXNW2yIE+tLIKpk5b
												RGv3IgcczcBWm7uraWt1R8TP0Qys7TqZtm5G/BzNwFzJ2YtpaemmiJ6jGaSg/SNFGroK0XM0g1T0
												mUo7i5ojdo5mkI6y3y+jmfMRO0czSEunp2hlThki52gG6dl/Bo2cisg5mkGKml61kiY+KSBujmaQ
												qq5jaOJIxM3RDFJ22CwamIS4OZpB2prfuJbJ2w9RczSD9HUfz8SNR9QczSALx89j0noiZo5mkImW
												t1UyWXcgZo5mkJEeE5ioRWWImKMZZGbgIibpCETM0Qyy0+aeaibnbkTM0QyytNtkJmYyIuZoBpkq
												OWcxE7KmCeLlaAYZa/9okcnYGfFyNIPM7f0xE7Ef4uVoBtkr+/0yJuAwxMvRDHzQ6Sk23gmIl6MZ
												+OGAGWysExEvRzPwRNNhq9g4fRAvRzPwRrcxbJStES9HM/DI4bPZcJWliJejGfik+Yi1bKj3EDFH
												M/BL9/FsoOsRMUcz8M3x89kgeyFijmbgnVa3V7L+FpUiYo5m4KGeb7PehiNmjmbgo8LAb1k/y9si
												Zo5m4Ke291SzPm5D1BzNwFe7/ZN1N68NouZoBt4qGbyYdXUI4uZoBh5r/1iRdfIwIudoBl7b+2PW
												wcQWiJyjGfit7OJl3JipbRA7RzPwXaenuWGfdUD0HM3Afwd+xg14blPEz9EMAtB02CrWovIS5IGj
												GQSh2+PVrMnYXsgFRzMIhBtdzZ96uy9ywtEMgtHtojcq+f+mXrU9csPRDELS9oBz/zjmxeeeefCi
												AzoiTxzNQALgaAYSAEczkAA4moEEwNEMJACOZiABcDQDCYCjGUgAHM1AAuBoBhIARzOQADiagQTA
												0QwkAI5mIAFwNAMJgKMZSAAczUAC4GgGEgBHM5AAOJqBBMDRDCQAjmYgAXA0AwmAoxlIABzNQALg
												aAYSAEczkAA4moEEwNEMJACOZiABcDQDCYCjGUgAHM1AAuBoBhIARzOQADiagQTA0QwkAI5mIAFw
												NAMJgKMZSAAczUAC4GgGEgBHM5AAOJqBBMDRDCQAjmYgAXA0AwmAoxlIABzNQALgaAYSAEczkAA4
												moEEwNEMJACOZiABcDQDCYCjGUgAHM1AAuBoBhIARzOQADiagQTA0QwkAI5mIAFwNAMJgKMZSAAc
												zUAC4GgGEgBHM5AAOJqBBMDRDCQAjmYgAXA0AwmAoxlIABzNQALgaAYSAEczkAA4moEEwNEMJACO
												ZiABcDQDCYCjGUgAHM1AAuBoBhIARzOQADiagQTA0QwkAI5mIAFwNAMJgKMZSAAczUAC4GgGEgBH
												M5AAOJqBBMDRDCQAjmYgAXA0AwmAoxlIABzNQALgaAYSAEczkAA4moEEwNEMJACOZiABcDQDCYCj
												GUgAHM1AAuBoBhIARzOQADiagQTA0QwkAI5mIAHYjVbWQgJwBK18DwnAYFqZDQnAjbTyMSQAj9DK
												REgAxtHKyxD/NVtGK3+B+O9QmnkY4r8HaOZOiPdKvqGZGyHe60M7l0G89xjtnAPxXa9q2jkG4ruX
												aWgniOf60VB1M4jfClNoaBbEc9fT0ssQv51IU3dBvPar1TR1LsRnnRfS1v4Qj203ncY6Q/y1/w80
												trIA8db5lbT2IcRXrR+kvacgfmp28fdMwcUQH5WePpep6A3xzy+u+4zp+L4A8Uvrg0bOZWr+Cm8V
												2vc6+HfDb86TO5+eMHMFU3UufFTY/aaJX62l2HPwTpMD755HScd8+OZXTyyhpOZx+KX7XylpOh0+
												6XhvJSVVXeGPVjesoKTrS/ij91eUtN0Nbxy7gpK6PeCJwrVFSuo+hydaPEPJwHD4YcsPKRkodoMX
												yidTsvAm/PAEJRNnwAtDKZlY1Ro+OKKakokn4YMeyyjZOAQeaPYFJRsLS+GBSykZGQEPtF1MycaK
												dvDALZSM3AYPdF5NycbqjvDAY5SMjIQHelZTsrGuCzxwFyUjD8EHcyjZqNoOHtiZkpFR8ME1lGxU
												/xw+mELJxtPwQWdKNlZ0gQ/Oo2TjCnhhFCUTnzaBF16nZGI/+GE6JQtPwBNLKRlY2hF+2ISShQvh
												ie0pGfiwFJ7oS0lfcU/44kRK+u6GNyooqfuwGbxRQUnb0u3hjwpK2gbAIxWUlI2ETyoo6Xq/KXxS
												QUnVkm3hlQpKqo6BXyooaboTnqmgpOgfTeGZCkp6prWFbyooqflqK3ingpKW7x38U0FJyYrd4aGT
												KelY1x8+6kdJRfFkeMlRUjEEfmpNScNN8NUKir3r4K3PKdaqB8Nfb1KMrTkWHhtNsbV0X/jsMoqp
												hb3hte4USzO3heemU+xM2QK+u5li5qVW8N6eFCNVQwvwX8k3FBNf740gPEixMLYdwtCHkrzKywsI
												xd8oSZu7F8KxYxUlWS9shpA8REnSsgsLCEqnVZTkPNkJofkPSlKm90N4Wi+iJGLllU0Qol+voyTg
												f7ogUIMojTbzYITrz5TG+eayZghY2WuURph7QXOEbbOZlIb64symCJ6bS2mQaaeUIgYd3qHU3/tH
												FxCJZo9S6mf10wchJhdXUeqs+MYZrRGZg5dQ6ubToV0QoS7/XU3ZqEV37opY9XqZsiHFj27vX4aY
												7TeZUosZ9xy3OaJXOH5iNeWn5jzy207Iiw5njV1D+V9L3hs1fMB2yJlWx4+eX818Wzfjb7ee2bcD
												cqt0q18ecc4NDz2VJ6Pu+cOwC08/rv+ePbpuVgoRERERERERERERERERERERERERkXr5N3p/G1es
												JDgkAAAAAElFTkSuQmCC
												" id="image694" style="filter:url(#filter5692)"/>
				</g>
			</svg>
		</a>
	</li>
</ul>{% endblock navbar %}{% block javascripts %}
<script>
	function rtn() {
window.history.back();
}
</script>{% endblock %}
