{{ form_start(form) }}

<div class="container containerSearch w-50">
    <form>
        <div class="input-group mb-5">
            <button class="input-group-text bg-transparent text-light border-3" id="basic-addon1" type="submit">
                <i class="fa fa-search"></i>
            </button>
            {{ form_widget(form.query, {'attr': {'class': 'form-control bg-transparent text-light border-top-0 border-end-0 rounded-0'}}) }}
        </div>
    </form>
</div>

{{ form_end(form) }}
