{% extends 'layout/layout-center.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
	{% include 'include/_search-data.html.twig' with {form: form} only %}

	<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-1">
		{% for category in categories %}
			<div class="col">
				<div class="d-flex justify-content-center">
					<button type="button" class="btn btn-secondary p-4 mb-5 w-75" href='#'>{{ category.title }}</button>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
