{% extends 'base.html.twig' %}

{% block title %}Les catégories
{% endblock %}

{% block body %}
<h1 class="text-center text-secondary mb-5 text-uppercase">Catégories</h1>
	<div class="container">
		<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-1">
			{% for category in categories %}
				<div class="col">
					<a href="{{ path("category_show", { categoryTitle: category.title }) }}" type="button" class="btn btn-secondary p-4 mb-5 w-75">{{ category.title }}</a>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
