{% extends 'layout/layout-top.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block content %}
	<div class="container">
		<div class="d-flex justify-content-around align-items-center">
			<img src="{{ asset('build/images/logo_v2.png') }}" alt="" class="mt-2">
			<h1 class="m-auto mb-0 text-center mt-4 fw-bold text-secondary text-uppercase">Mon Profil</h1>
			<div class="btn-group">
				<button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="fa-solid fa-user"></i>
				</button>
				<ul class="dropdown-menu dropdown-menu-end">
					<li>
						<a class="dropdown-item" href="#">Mon profil</a>
					</li>
					<li>
						<a class="dropdown-item" href="#">Choisir mon avatar</a>
					</li>
					<li>
						<a class="dropdown-item" href="#">Me déconnecter</a>
					</li>
				</ul>
			</div>
		</div>

		<br>

		<div class="text-white mt-3 d-flex justify-content-center me-2">
			<div class="text-start flex-column">
				<p>Harry beau</p>
				<p>Harrybeau@hotmail.fr</p>
				<p>Membre depuis 06/06/2023</p>
			</div>
		</div>

		<br>

		<div class="text-center fw-bold">
			<button type="button" class="btn btn-danger m-auto mb-3 btn-lg w-75 text-uppercase">
				<i class="fa-solid fa-people-group"></i>
				Ajoute tes amis !
			</button>
			<button type="button" class="btn btn-danger m-auto mb-3 btn-lg w-75 text-uppercase">
				<i class="fa-sharp fa-solid fa-globe"></i>
				Partager ma progression
			</button>
		</div>
	</div>

{% endblock %}
