{% extends 'layout/layout-center.html.twig' %}

{% block title %}mailChoice!
{% endblock %}

{% block content %}

	<div class="container">
		<div class="row">
                        <div class="col-6 offset-3">
                                <h1 class="text-light text-center">As-tu une adresse mail ?</h1>
                                <button type="button" class="btn btn-secondary d-block m-auto mb-3 btn-lg w-100">J'ai une adresse mail</button>
                                <button type="button" class="btn btn-secondary d-block m-auto mb-3 btn-lg w-100">Je n'ai pas d'adresse mail</button>
                        </div>
                </div>
	</div>


{% endblock %}
