<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
        <div class="m-auto justify-content-between" id="navbarSupportedContent">
            <ul class="d-flex flex-row navbar-nav m-auto">
                <li class="nav-item me-2 me-lg-5">
                    <a href="{{ path('app_admin') }}">Accueil</a>
                </li>
                <li class="nav-item me-2 me-lg-5">
                    <a href="{{ path('app_admin_category_index') }}">Catégories</a>
                </li>
                <li class="nav-item me-2 me-lg-5">
                    <a href="#">Tutoriels</a>
                </li>
                <li class="nav-item me-2 me-lg-5">
                    <a href="/" target="_blank">Voir mon site</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
