{% extends 'layout/layout-center.html.twig' %}


{% block body %}

	{% include 'include/_search-data.html.twig' with {form: form} only %}

	<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-1 justify-content-center">
		{% if pagination is defined and pagination|length > 0 %}
			{% for article in pagination %}
				<tr {% if loop.index is odd %} class="color" {% endif %}>
					{% if article.ispublic or app.user %}
						<div class=" col d-flex justify-content-center">
							<a href="{{ path("tutorial_show", { 'slug': article.slug })}}" class="btn btn-secondary p-4 mb-5 w-75">{{ article.name }}</a>
						</div>
					{% else %}
						<div class="col text-center">
							<div class="btn btn-dark p-4 mb-5 w-75 position-relative">
								<i class="fa-solid fa-lock position-absolute bottom-0 end-0 fa-2x"></i>
								{{ article.name }}</div>
						</div>
					{% endif %}
				</tr>
			{% endfor %}
		{% else %}
			<p class='text-white text-center h3'>
				Aucun tutoriel n'a été trouvé, nous sommes désolés.
			</p>
		{% endif %}
	</div>
{% endblock %}
