{% extends '/admin/base.html.twig' %}

{% block title %}Accueil Admin - Ligne bleue{% endblock %}

{% block body %}

    <h1 class="mt-5 mb-5">Bonjour {{ app.user.userIdentifier }} ! </h1>
    <p>Ici vous pourrez modifier le contenu de votre site en vous déplaçant dans les différentes rubriques présentes
        dans la barre
    de navigation.</p>

{% endblock %}
