{% extends '/admin/base.html.twig' %}

{% block title %}Nouveau tutoriel - Ligne bleue {% endblock %}

{% block body %}
    <h1 class="mt-5 mb-5 text-center">Ajouter un nouveau tutoriel</h1>
    <div class="container mt-5">
        {{ include('/admin/admin_tutorial/_form.html.twig') }}

        <a href="{{ path('app_admin_tutorial_index') }}">Retour à la liste des tutoriels</a>
    </div>
{% endblock %}
