.body-classic {
    background-image: url("/assets/images/background.svg");
}
@media only screen and (max-width: 800px) {
    .licorne {
        width: 15rem;
    }
}
.fa-lock {
    position: absolute;
    bottom: 3rem;
    right: 0;
}
