.swiper {
    width: 100%;
}

.swiper-pagination-progressbar-fill {
    --swiper-theme-color : green;
    background: var(--swiper-theme-color);
}

@media only screen and (max-width: 991px) {
    .button-set {
        display: flex;
        flex-direction: column;

    }
}

@media only screen and (min-width: 991px) {
.button-set {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
}

@media only screen and (min-width: 490px) {
    .category-wrapper {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        gap: 0;
        text-align: center;
    }
}

@media only screen and (max-width: 490px) {
    .category-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

}
