//start coding by removing this file and adding yours ;)
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,500;0,800;1,500;1,800&display=swap');
@import "_variables.scss";
@import 'bootstrap/scss/bootstrap';
@import '_animation-button.scss';
@import '_global.scss';
@import "_quiz.scss";
@import "_swiper";
@import "_circle-bar.scss";
@import "search-data.scss";
@import "_profil.scss";
