{% extends 'base.html.twig' %}

{% block title %}Ligne bleue - Conditions générales d'utilisation
{% endblock %}

{% block body %}
    <h1 class="titre-haut text-center text-light text-uppercase mb-2">Conditions générales d'utilisation</h1>
    <div class="bg-secondary rounded p-3 p-lg-5 m-5">
        <div>
            <h2>Introduction</h2>
            <p>
                Les présentes conditions générales d'utilisation (ci-après dénommées "CGU") régissent votre utilisation
                de l'application Ligne Bleue (ci-après dénommée "LIGNE BLEUE") développée par La Banque Postale. En
                utilisant l'Application, vous acceptez pleinement et sans réserve ces CGU. Si vous n'acceptez pas ces
                CGU, veuillez ne pas utiliser l'Application.
            </p>
        </div>
        <br>
        <div>
            <h2>Utilisation de l'Application</h2>
            <ol type="a">
                <li>
                    Accès à l'Application : Vous pouvez accéder à l'Application en téléchargeant et en installant
                    l'application sur votre appareil mobile à partir de la plateforme de téléchargement appropriée.
                </li>
                <li>
                    Compte utilisateur : Pour utiliser certaines fonctionnalités de l'Application, vous devrez créer
                    un compte utilisateur. Vous êtes responsable de maintenir la confidentialité de vos informations de
                    compte et de vous assurer qu'elles sont exactes et à jour.
                </li>
                <li>
                    Contenu de l'Utilisateur : En utilisant l'Application, vous acceptez de respecter les droits de
                    propriété intellectuelle des autres utilisateurs et de ne pas publier de contenu qui enfreint ces
                    droits. Vous êtes seul responsable du contenu que vous publiez sur l'Application et vous garantissez
                    que ce contenu est légal, non diffamatoire et ne viole aucun droit d'un tiers.
                </li>
                <li>Restrictions d'utilisation : Vous vous engagez à n'utiliser l'Application que dans le respect des
                    lois applicables et des présentes CGU. Vous vous interdisez notamment d'utiliser l'Application d'une
                    manière qui pourrait endommager, désactiver, surcharger ou altérer l'Application.
                </li>
                </li>
            </ol>

        </div>
        <br>
        <div>
            <h2>Propriété intellectuelle</h2>
            <ol type="a">
                <li>
                    Droits de propriété : L'Application et tout le contenu associé, y compris les textes, les images,
                    les
                    graphiques, les logos, les vidéos, les sons, les icônes et les logiciels, sont la propriété de La
                    Banque
                    Postale ou de ses concédants de licence et sont protégés par les lois sur la propriété
                    intellectuelle.
                </li>
                <li>
                    Licence d'utilisation limitée : La Banque Postale vous accorde une licence limitée, non
                    exclusive, non
                    transférable et révocable d'utiliser l'Application conformément aux présentes CGU. Cette licence ne
                    vous
                    autorise pas à modifier, copier, distribuer, transmettre, afficher, représenter, reproduire,
                    publier,
                    concéder sous licence, créer des œuvres dérivées, transférer ou vendre tout contenu ou information
                    obtenu à
                    partir de l'Application.
                </li>
            </ol>
        </div>
        <br>
        <div>
            <h2>Confidentialité</h2>
            <p>
                La Banque Postale traite vos données personnelles conformément à sa politique de confidentialité. En
                utilisant l'Application, vous consentez à la collecte, à l'utilisation et à la divulgation de vos
                informations personnelles conformément à cette politique de confidentialité.
            </p>
        </div>
        <br>
        <div>
            <h2>Limitation de responsabilité</h2>
            <p>
                Dans toute la mesure permise par la loi applicable, La Banque Postale décline toute responsabilité
                découlant de votre utilisation de l'Application. L'Application est fournie "telle quelle" et "selon
                disponibilité" et La Banque Postale ne fait aucune déclaration ni garantie concernant son
                fonctionnement, sa disponibilité, son absence d'erreurs ou sa sécurité.
            </p>
        </div>
        <br>
        <div>
            <h2>Modification des CGU</h2>
            <p>
                La Banque Postale se réserve le droit de modifier les présentes CGU à tout moment. Les modifications
                seront publiées sur l'Application et entreront en vigueur dès leur publication. Il est de votre
                responsabilité de consulter régulièrement les CGU pour prendre connaissance des éventuelles
                modifications.
            </p>
        </div>
        <br>
        <div>
            <h2>Droit applicable et juridiction compétente</h2>
            <p>
                Les présentes CGU sont régies par le droit français. Tout litige découlant de l'utilisation de
                l'Application sera soumis à la juridiction exclusive des tribunaux français compétents.
            </p>
        </div>
        <br>
        <p>
            Pour toute question ou demande concernant les présentes CGU, veuillez contacter La Banque Postale à
            l'adresse indiquée dans l'Application.
            <br>
            Date d'entrée en vigueur : 20/06/2023
        </p>
    </div>
{% endblock %}
