{% extends 'base.html.twig' %}

{% block title %}Hello AvatarController!
{% endblock %}

{% block body %}
	<div class="d-flex flex-column">
		<div class="bg-secondary rounded m-auto col-10 p-5">
			<h1 class="text-center">Choisissez votre avatar</h1>

			{{ form_start(avatarForm) }}
			<div class="row justify-content-center">
				{% for avatar in avatarForm.avatar %}
					<div class="col-12 col-sm-6 col-md-4 col-lg-2">
						<div class="form-check mx-3 d-flex flex-column justify-content-center">
							{{ form_label(avatar, null, {'label_attr': {'class': 'form-check-label p-2 text-center'}}) }}
							{{ form_widget(avatar, {'attr': {'class': 'd-block mx-auto'}}) }}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="row justify-content-center mt-3">
			<div class="col-12 text-center">
				<button type="submit" class="btn btn-success rounded-pill">Valider</button>
			</div>
		</div>
		{{ form_end(avatarForm) }}
	</div>
{% endblock %}
