{% extends 'base.html.twig' %}

{% block title %}Ligne bleue - Demande d'ami
{% endblock %}

{% block body %}
	<div class="me-2 ms-2 me-lg-5 ms-lg-5 bg-secondary rounded m-auto p-5 text-center">
		{% for messages in app.flashes('sendStatus') %}
			<div class="alert alert-success">
				{{ messages }}
			</div>
		{% endfor %}
		<h1 class="mb-5 text-uppercase">Tape l'adresse mail de ton ami pour l'ajouter</h1>
		{{ form_start(addFriendForm) }}
		{{ form_row(addFriendForm.email, {'attr': {'class': 'form-control bg-primary border-0 text-light mx-auto text-center m-3 w-50', 'placeholder': 'Tape ton adresse e-mail ici'}}) }}
		<div class="mt-5">
			<button class="btn btn-success" type="submit">Envoyer</button>
		</div>
		{{ form_end(addFriendForm) }}
	</div>


{% endblock %}
